*.lo
*.o
*.o
*.so
*.swp
*~
.deps/
.libs/
.pc
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
esum.txt
install-sh
j/bin/jconsole
j/bin/libj.so
jconsole
libj.la
libj.dylib
libtsdll.dylib
libtool
ltmain.sh
make.txt
missing
stamp-h1
CMakeCache.txt
CMakeFiles/*
autom4te.cache/*
cmake_install.cmake
profile.ijs
install_manifest.txt
patches
